body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #fff;
    padding: 10px;
    background-color: #000000;
}
.home_head{
    background-image: url(/Assets/text_bg.jpg);
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text; /* Required for Chrome, Safari */
    color: transparent; /* Hides the original text color */
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    margin: 3rem;
    color: #40E0D0;
    font-style: italic;
}
.nav a{
    margin-right: 4rem;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 5px 5px;
    color: #40E0D0;
    position: relative;
    opacity: 0.7;
}
.nav a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #40E0D0;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
}
.home{
    display: flex;
    height: 70vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 1px 40px;
    padding-bottom: 80px;
    background-color: #151414;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 8px rgb(85, 198, 200);
}
#home_title{
    color: #1bc3cf;
    font-size: 3rem;
    text-align: center;
}
.nav a:hover{
    opacity: 1;
}
.photo img{
    display: relative;
    margin-top: 6rem;
    margin-left: 15rem;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    border: 1px solid #4abeb3;
    box-shadow: 1px 1px 8px 8px rgb(85, 198, 200);
}
.nav a:hover::after{
    transform: scalex(1);
}
.about-main{
    display: flex;
    height: 70vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 1px 40px;
    padding-bottom: 80px;
    background-color: #151414;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 8px rgb(85, 198, 200);
}
.about{
    display: block;
    width: 1000px;
    margin-left: 3rem;
}
.home_head{
    font-size: 8rem;
    letter-spacing: 5px;
    font-style: italic;
}
.about h1{
    font-style: italic;
    font-size: 2.25rem;
    color: #18E0C0 ;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.about p{
    margin-top: 60px;
    font-style: italic;
    color: #FFFFFF ;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 30px;
}
#about_title,#skills,#projects,#contact{
    color: #1bc3cf;
    padding: 10px;
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
}
.skills-container{
    display: grid;
    height: 70vh;
    margin: 1px 40px;
    padding-bottom: 80px;
    background-color: #151414;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 8px rgb(85, 198, 200);
}
.skill img{
    width: 140px;
    height: 160px;
}

.front-end{
    display: flex;
    margin: 3rem;
    gap: 30px;
    text-align: center;
}
.front-end p,.back-end p{
    font-size: 25px;
    font-weight: bold;
}
.back-end{
    display: flex;
    justify-content: end;
    gap: 30px;
    margin-bottom: 3rem;
    margin-right: 3rem;
    text-align: center;
}
.frot-head h1{
    margin-left: 15rem;
    background: linear-gradient(45deg, #ff00ff, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: bold;
}
.back-head h1{
    background: linear-gradient(45deg, #ff00ff, #00ffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: bold;
    margin-right: 8rem;
}
.projects-container{
    height: 70vh;
    margin: 1px 40px;
    padding-bottom: 80px;
    background-color: #151414;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 8px rgb(85, 198, 200);
}
.contact-container{
    margin-left: 450px;
    width: 500px;
    height: 580px;
    border-color: #18E0C0;
    /* background-color: red; */
    border-radius: 10px;
    box-shadow: 1px 1px 8px 8px rgb(85, 198, 200);
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
label{
    margin-top: 10px;
    font-size: 26px;
    font-style: italic;
}
input{
    margin-top: 20px;
    width: 80%;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    border: none;
}
textarea{
    width: 90%;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}
.contact-container button{
    margin-top: 30px;
    padding: 10px;
    width: 50%;
    height: 60%;
    border-radius: 10px;
    background-color: blue;
    box-shadow: 1px 1px 8px 8px blue;
    color: white;
    border: none;
    font-size: 24px;
}
.contact-container button:hover{
    background-color: #00ffff;
    box-shadow: 1px 1px 8px 8px rgb(85, 198, 200);
}
footer{
    text-align: center;
    width: 100%;
    margin-top: 60px;
    background-color: #00ffff;
    padding: 10px;
}
footer p{
    font-size: 20px;
}
footer i{
    font-size: 26px;
    margin-left: 20px;
    text-decoration: none;
    color: white;
}
@media(max-width:360){
    
}